In [2]:
import pandas as pd
import sqlalchemy as alch 
from getpass import getpass
import pandas as pd

In [32]:
df = pd.read_csv("the-office_lines 3.csv")
df

,Unnamed: 0,Character,Line,Season,Episode_Number
0,0,Michael,All right Jim. Your quarterlies look very goo...,1,1
1,1,Jim,"Oh, I told you. I couldn’t close it. So…",1,1
2,2,Michael,So you’ve come to the master for guidance? Is...,1,1
3,3,Jim,"Actually, you called me in here, but yeah.",1,1
4,4,Michael,"All right. Well, let me show you how it’s don...",1,1
...,...,...,...,...,...
58716,61302,Creed,It all seems so very arbitrary. I applied for...,9,23
58717,61303,Meredith,I just feel lucky that I got a chance to shar...,9,23
58718,61304,Phyllis,I’m happy that this was all filmed so I can r...,9,23
58719,61305,Jim,I sold paper at this company for 12 years. My...,9,23
58720,61306,Pam,I thought it was weird when you picked us to ...,9,23

In [20]:
password = getpass("Please enter your password: ")

In [21]:
dbName = "The_office"

In [22]:
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [23]:
engine = alch.create_engine(connectionData)

In [24]:
engine

Engine(mysql+pymysql://root:***@localhost/The_office)

In [28]:
# lets add the sentiment analyis to this df
import nltk
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/santiaguilar/nltk_data...

True

In [29]:

sia = SentimentIntensityAnalyzer()

In [33]:
def analyze_sentiment_sia(row):
    sentiment = sia.polarity_scores(row['Line'])
    return pd.Series(sentiment)

In [36]:
df[['sia_neg', 'sia_neu', 'sia_pos', 'sia_compound']] = df.apply(analyze_sentiment_sia, axis=1)
df.sample(10)

,Unnamed: 0,Character,Line,Season,Episode_Number,sia_neg,sia_neu,sia_pos,sia_compound,tb_polarity,tb_subjectivity
10571,11247,Ryan,"So what if they’re not talking much, then doe...",3,5,0.000,1.000,0.000,0.0000,0.40,0.550000
6276,6664,Michael,Hi Dwight.,2,12,0.000,1.000,0.000,0.0000,0.00,0.000000
48432,50636,Erin,"Oh, Angela will make you cut your fingernails...",8,13,0.274,0.726,0.000,-0.4149,-0.15,0.100000
10270,10924,Josh,"Okay, just get it done. Jim, will you make s...",3,4,0.000,0.656,0.344,0.4939,0.50,0.694444
9626,10256,Pam,"No, Michael.",3,2,0.688,0.312,0.000,-0.2960,0.00,0.000000
50749,53045,Andy,"Oh, and another thing! Our sex life is none o...",8,21,0.000,1.000,0.000,0.0000,0.00,0.000000
38664,40487,Danny,Oh.,7,5,0.000,1.000,0.000,0.0000,0.00,0.000000
472,496,Michael,Yeah. I would like to see us erase 100 years ...,1,2,0.207,0.556,0.237,-0.1027,0.00,0.000000
28809,30287,Pam,"Oh, I, um…",5,24,0.000,1.000,0.000,0.0000,0.00,0.000000
20698,21859,Michael,Do you remember what color my eyes are?,4,11,0.000,1.000,0.000,0.0000,0.00,0.000000

In [37]:
from textblob import TextBlob

# define a function to apply the TextBlob sentiment analysis to each row
def analyze_sentiment_tb(row):
    sentiment = TextBlob(row['Line']).sentiment
    return pd.Series(sentiment)

# apply the function to each row and create new columns for the sentiment scores
df[['tb_polarity', 'tb_subjectivity']] = df.apply(analyze_sentiment_tb, axis=1)
df

,Unnamed: 0,Character,Line,Season,Episode_Number,sia_neg,sia_neu,sia_pos,sia_compound,tb_polarity,tb_subjectivity
0,0,Michael,All right Jim. Your quarterlies look very goo...,1,1,0.000,0.803,0.197,0.4927,0.597857,0.657857
1,1,Jim,"Oh, I told you. I couldn’t close it. So…",1,1,0.000,1.000,0.000,0.0000,0.000000,0.000000
2,2,Michael,So you’ve come to the master for guidance? Is...,1,1,0.000,1.000,0.000,0.0000,0.000000,0.000000
3,3,Jim,"Actually, you called me in here, but yeah.",1,1,0.000,0.714,0.286,0.4215,0.000000,0.100000
4,4,Michael,"All right. Well, let me show you how it’s don...",1,1,0.000,0.811,0.189,0.2732,0.285714,0.535714
...,...,...,...,...,...,...,...,...,...,...,...
58716,61302,Creed,It all seems so very arbitrary. I applied for...,9,23,0.068,0.864,0.068,0.0000,-0.057500,0.345000
58717,61303,Meredith,I just feel lucky that I got a chance to shar...,9,23,0.063,0.726,0.211,0.6298,0.166667,0.916667
58718,61304,Phyllis,I’m happy that this was all filmed so I can r...,9,23,0.000,0.875,0.125,0.5719,0.322222,0.644444
58719,61305,Jim,I sold paper at this company for 12 years. My...,9,23,0.000,0.907,0.093,0.6369,0.500000,0.600000
58720,61306,Pam,I thought it was weird when you picked us to ...,9,23,0.026,0.705,0.269,0.9408,0.029167,0.497917

In [53]:
df = df.rename(columns={'Character': 'Actor'})

In [63]:
df.to_sql('office_lines', con=engine, if_exists='replace', index=False)

58721

In [65]:
df.to_csv("lines_analysis.csv")